<div class="lv-flags">
    @if (HasLangtext)
    {
        <span class="lv-flag lv-flag-has-langtext"></span>
    }
    @if (IsNachtragsposition)
    {
        <span class="lv-flag lv-flag-is-nachtragsposition"></span>
    }
</div>

@code {
    [Parameter]
    public bool HasLangtext { get; set; }

    [Parameter]
    public bool IsNachtragsposition { get; set; }
}
