@page "/leistungsverzeichnis"

@using BrzMobileLvTrailWork.ApiModels
@using BrzMobileLvTrailWork.ApiModels.Extensions.LeistungsverzeichnisApiModelExtensions
@using BrzMobileLvTrailWork.Services
@using BrzMobileLvTrailWork.Components

@inject LeistungsverzeichnisService LeistungsverzeichnisService

<link rel="stylesheet" href="css/leistungsverzeichnis-page.css" />

<h1>Leistungsverzeichnis</h1>

@if (leistungsverzeichnisse == null)
{
    <p><em>Daten werden geladen ...</em></p>
}
else
{
    <div class="lv-flags lv-flags-column">
        <div class="lv-flags lv-flags-row">
            <span class="lv-flag lv-flag-has-langtext"></span> enthält Langtext
        </div>
        <div class="lv-flags lv-flags-row">
            <span class="lv-flag lv-flag-is-nachtragsposition"></span> ist Nachtragsposition
        </div>
    </div>

    <table class="table table-leistungsverzeichnis">
        <thead>
            <tr>
                <th>Ordnungszahl</th>
                <th>Kurztext</th>
                <th>Gesamtpreis</th>
                <th>Kennzeichen</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leistungsverzeichnis in leistungsverzeichnisse)
            {
                <tr>
                    <td>@leistungsverzeichnis.Ordnungszahl</td>
                    <td>@leistungsverzeichnis.Kurztext</td>
                    <td>@leistungsverzeichnis.Gesamtpreis &euro;</td>
                    <td>
                        <LeistunsgsverzeichnisFlags HasLangtext=@leistungsverzeichnis.HasLangtext() IsNachtragsposition=@leistungsverzeichnis.IsNachtragsPosition />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LeistungsverzeichnisApiModel[] leistungsverzeichnisse;

    protected override async Task OnInitializedAsync()
    {
        leistungsverzeichnisse = await LeistungsverzeichnisService.GetLeistungsverzeichnisseAsync();
    }
}
